div.row {
  margin: 0;
  padding: 15px;
  position: absolute;
  right: 0;
  width: 94%;
  gap: 15px;
  
  article.card {
    width: 30%;
    display: inline-block;
    margin: 10px 10px;

    div.card-body {
      height: 100%;

      img.card-img-top {
        max-width: 75%;
        position: relative;
        top: 0;
      }
    }
  }
}