div#formContainer {
  background-image: linear-gradient(to left, #4CC9F0, #F72585, #241740 90%);
  min-height: 100vh;
  width: 100%;
  margin-left: auto;
  margin-right: 0;

  h1#formHeader {
    position: relative;
    right: 10%;
  }

  form {
    position: relative;
    top: 75px;
    right: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    
  
    div#formInput{
      width: 99.9%;
      margin: 0;
      padding: 0;
    }
    
    input {
      width: 95%;
      margin: 10px;
      height: 50px;
      background-color: #4CC9F0;
      border: 2px solid #F72585;
      box-shadow: 0 0 10px 0px #4CC9F0;
      color: #F72585;
      border-radius: 10px;
      padding: 15px;
      transition: 0.3s;
  
      &::placeholder{
        color: #F72585;
        font-size: large;
      }

      &:focus {
        background-color: #241740;
      }
    }
  
    input[type="submit"] {
      width: 25%;
      align-self: center;
      position: fixed;
      bottom: 10%;
      height: 75px;
      transition: 0.5s;
      margin-top: 20px;
      font-size: 25px;
  
      &:hover {
        background-color: #241740;
        color: #4CC9F0;
        border: 2px solid #4CC9F0;
  
      }
     }
  }
}
