div.App {
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: #241740;

  h1.display-4 {
    display: inline-block;
    width: 35%;
    text-align: center;
    margin: 30px -130px 30px auto;
    padding: 15px;
    font-family: monospace;
    color: #F72585;
    background-color: #4CC9F0;
    border: 1px solid #F72585;
    border-radius: 10px;
    transition: 350ms;

    &:hover {
      color: #4CC9F0;
      background-color: #241740;
    }
  
  }
  
  div.cart-widget {
    margin: 16px;
    padding: 10px;

    svg {
      height: 24px;
    }
  }

  main.row {
    width: 100%;
    gap: 0;
    justify-content: flex-end;

    article.card{
      background-color: #241740;
      border: 2px solid #F72585;
      box-shadow: 0 0 20px 0px #4CC9F0;
      color: #F72585;
      border-radius: 10px;
      width: 25%;
      margin: 35px;
      padding: 10px;
      backdrop-filter: blur(25px);
      

      div.card-body {
        width: 100%;
        padding: 10px;
      }

      button {
        font-family: monospace;
        font-size: 20px;
      }

    }

    article:last-of-type {
      justify-self: flex-start;
    }
  }
}
