div.App {
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: #241740;
  
  div.cart-widget {
    margin: 16px;
    padding: 10px;

    svg {
      height: 24px;
    }
  }

  main.row {
    width: 100%;
    gap: 0;
    justify-content: flex-end;

    article.card{
      width: 28%;
      margin: 16px;
    }
  }
}
