div.container.count {
  button.btn.btn-outline-primary {
    margin: 10px;
    font-size: 20px;
    width: 10%;
    color: #4CC9F0;
    border: 1px solid #F72585;

    &:hover {
      color: #4CC9F0;
      background-color: #F72585;
    }
  }

  div.countContainer {
    display: inline-block;
    margin: auto;
    width: 10%;
    background-color: rgba($color: #807c7c, $alpha: 0.2);
    border-radius: 10px;

    small {
      display: block;
      text-align: center;
      margin: auto;
    }
  }

  button.btn.btn-outline-danger {
    margin: 10px;
    font-size: 20px;
    width: 25%;
    color: #F72585;
    border: 1px solid  #4CC9F0;

    &:hover {
      color: #4CC9F0;
      background-color: #F72585;
    }
  }
}

button.btn.btn-success {
  padding: 10px 15px;
  font-size: 20px;
  width: 60%;

}